
#item-picker-base {
	border-bottom: none;
	border-left: none;
	border-right: none;
}

#item-picker-base th {
/*	margin-bottom: -4px;*/
	background-color: black;
}

#item-picker-base td, #item-picker-base th {
	padding: 0px;
	border: none;
}
