/* Hero table styles */
.hero-table {
	margin: 10px;
	font-size: 12pt;
	margin-bottom: 300px;
}
.hero-table caption {
	border: 4px solid #9A1E00;
	border-bottom: none;
	font-size: 16pt;
}
.hero-table td {
	white-space: nowrap;
	padding-left: 4px;
	padding-right: 4px;
}
td.single-button + td.single-button {
	padding-left: 0px;
}
td.box-content + td.box-content {
	padding-left: 0px;
}
.hero-table tr:nth-child(2n), .hero-table thead > tr {
	background-color: rgba(0, 0, 0, 0.5);
}
.hero-table th {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.hero-table thead tr:last-child th {
	border-bottom: 3px solid #9A1E00;
}

.hero-table tr.selected {
	background-color: #9A1E00;
}

/* shitty overrides for jquery-ui widgets */
.hero-table .ui-widget {
	font-family: sans-serif;
	background: none;
	border-width: 1px;
}
.hero-table .ui-spinner-input {
	margin: 0px;
	text-indent: 2px;
	color: gold;
	width: 100%;
}
.ui-spinner, .ui-spinner-button, .ui-spinner-button.ui-state-default {
	border-color: gold;
}

.hero-table .hero-label {
	background: none;
	border: none;
	outline: none;
	color: gold;
	font-size: 1em;
	border: 1px solid gold;
	width: 9em;
}
.hero-table .delete-button {
	width: 16px;
	height: 16px;
	border: none;
	background: url(delete-icon16.png);
	vertical-align: middle;
	cursor: pointer;
}

.hero-table .copy-button {
	width: 16px;
	height: 16px;
	border: none;
	background: url(copy-icon16.png);
	vertical-align: middle;
	cursor: pointer;
}

/* Classes for  item, ability and buff containers */
.hero-table .item-container {
	display: block;
	border: 1px solid gold;
	height: 28px;
	white-space: nowrap;
}
.hero-table .item-container.items {
	min-width: 39px;
}
.hero-table .item-container.abilities {
	min-width: 28px;
}
.hero-table .item-container > div.item-display {
	display: inline-block;
	position:relative;
	height: 28px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	vertical-align: middle;
	font-size: 80%;
}
.item-display:hover {
	/*outline: 1px solid gold;*/
	box-shadow: 0px 0px 1em 1px black;
	z-index: 1;
}
.hero-table .item-display.item {
	width: 39px;
}
.hero-table .item-display.ability {
	width: 28px;
}
.item-tooltip {
	display: none;
	position: absolute;
	top:28px;
	/*left: -1px;*/ /* left-aligned tooltip*/
	transform: translateX(-50%); /* centered tooltip */
	background: #003045;
	border: 1px solid gold;
	padding: 3px;
	overflow: visible;
	width: 200px;
	z-index: 1;
	text-align: left;
	white-space: normal;
}

.item-display:hover > .item-tooltip {
	display: inline-block;
	box-shadow: 1px 1px 5px black;
}
.item-display-charges {
	position: absolute;
	cursor: default;
	bottom: 0px;
	right: 2px;
	text-align: right;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1);
}
.item-display-levels {
	position: absolute;
	cursor: default;
	top: 0px;
	left: 2px;
	text-align: right;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1);
	font-family: serif;
}
.item-display-delete {
	position: absolute;
	display: none;
	top: 0px;
	right: 0px;
	width: 14px;
	height: 14px;
	border: none;
	background: url(delete-icon16.png);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.item-display:hover > .item-display-delete {
	display: block;
}
.item-display-activate {
	position: absolute;
	display: none;
	bottom: 0px;
	left: 0px;
	width: 14px;
	height: 14px;
	padding: 0px;
	border: none;
	background: url(activate-icon16.png);
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
.item-display:hover > .item-display-activate {
	display: block;
}
.item-tooltip > h1 {
	margin: 0px;
	padding: 2px;
	font-size: 1em;
}

.item-tooltip > h1 .label-version {
	float: right;
	color: rgba(251, 216, 80, 0.33);
}

.item-display-options.label {
	margin-left: 0.5ch;
}
.item-display-options.value {
	font-weight: bold;
	color: limegreen;
}
.item-display-options.warning {
	color: darkorange;
}
.item-display-options.lore {
	color: #ffe86d;
	font-style: italic;
}
.item-display-options.cooldown, .item-display-options.manacost {
	display: inline-block;
	width: 82px;
	margin-top: 1px;
}
.item-display-options.cooldown[style*="display: none"] +
.item-display-options.manacost[style*="display: none"] + br {
	display: none;
}
.item-display-options[style*="display: none"] + br.single-mode {
	display: none;
}

.item-display-options.cooldown::before {
	content: url("cooldown.png");
	vertical-align: middle;
    margin-right: 4px;
    margin-left: 4px;
}
.item-display-options.manacost::before {
	content: url("mana.png");
	vertical-align: middle;
    margin-right: 4px;
    margin-left: 4px;
}
.value.negative {
	color: red;
}
.label.dynamic {
	color: orange;
}
.mini-spinner {
	border: 1px solid gold;
	color: gold;
	padding: 0px;
	background: #003045;
}

.info-damage.base {
	color: gold;
}
.info-damage.bonus {
	color: limegreen;
}
.info-damage.magic {
	color: dodgerblue;
}
.info-damage.pure {
	color: red;
}
