.hero-table {
	margin: 10px;
	font-size: 12pt;
}
.hero-table caption {
	border: 4px solid #9A1E00;
	border-bottom: none;
	font-size: 16pt;
}
.hero-table td {
	padding-left: 4px;
	padding-right: 4px;
}
.hero-table tr:nth-child(2n), .hero-table thead > tr {
	background-color: rgba(0, 0, 0, 0.5);
}
.hero-table th {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.hero-table thead tr:last-child th {
	border-bottom: 3px solid #9A1E00;
}

.ui-widget {
	font-family: sans-serif;
	background: none;
	border-width: 1px;
}
.ui-spinner-input {
	margin: 0px;
	text-indent: 2px;
	color: gold;
	width: 100%;
}
.ui-spinner, .ui-spinner-button, .ui-spinner-button.ui-state-default {
	border-color: gold;
}

.hero-table .hero-label {
	background: none;
	border: none;
	outline: none;
	color: gold;
	font-size: 1em;
	border: 1px solid gold;
	width: 9em;
}
.vertical-separators td:not(:first-child), .vertical-separators th:not(:first-child) {
	border-left: 2px solid #9A1E00;
}
.hero-table .delete-button {
	width: 16px;
	height: 16px;
	border: none;
	background: url(delete-icon16.png);
	vertical-align: middle;
	cursor: pointer;
}
.hero-table .item-container {
	display: block;
	border: 1px solid gold;
	min-width: 39px;
	height: 28px;
}
.hero-table .item-container > div.item-display {
	display: inline-block;
	width: 39px;
	height: 28px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	vertical-align: middle;
	font-size: 80%;
}


